@import "tailwindcss";

@layer utilities {
  .glass-panel {
    @apply bg-white/65 backdrop-blur-xl border border-white/40 shadow-xl;
  }
}

/* Анимация Blob из твоего расширения */
@keyframes floatBlob {
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(20px, 40px) scale(1.1); }
}

.blob-anim {
  animation: floatBlob 10s infinite alternate ease-in-out;
}